{% extends 'layout.html' %}

{% block content %}  
<table id="tag">
    <tr>
        <td>

            <table class="header">
                <tr>
                    <td>
                        <p class="header-bold">USO EXCLUSIVO DA TRANSPORTADORA</p>
                        <p class="header-slim">Cole aqui a etiqueta com o código identificador da encomenda</p>
                    </td>
                </tr>
            </table>
            <table class="header-info">
                <tr>
                    <td>
                        <p class="header-txt">RECEBEDOR:</p>
                    </td>
                    <td>
                        <p class="header-txt">DOC:</p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>
            
            <table class="content">
                <tr>
                    <td>
                        <p class="content-title">&nbsp;&nbsp;DESTINATÁRIO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="content-txt"><strong>
                            {{ result.dnome }}
                        </strong></p>
                        <p class="content-txt">
                            {{ result.drua }} - {{ result.dnum }}
                        </p>
                        <p class="content-txt">
                            {{ result.dcom }}
                        </p>
                        <p class="content-txt">
                            {{ result.dbairro }} - {{ result.dcidade }} / {{ result.duf }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="content-cont">
                            <tr>
                                <td class="content-columm1">
                                    <p class="content-cep">
                                        {{ result.dcep }}
                                    </p>
                                </td>
                                <td class="content-columm2">
                                    <p class="content-code">
                                        {{ result.dcep }}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>

            <table class="footer">
                <tr>
                    <td>
                        <table class="footer-header">
                            <tr>
                                <td class="footer-columm1">
                                    <p class="footer-title">REMETENTE</p>
                                </td>
                                <td class="footer-columm2">
                                    <p class="footer-name">
                                        {{ result.rnome }}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="footer-txt">
                            {{ result.rrua }} - {{ result.rnum }}
                        </p>
                        <p class="footer-txt">
                            {{ result.rcom }}
                        </p>
                        <p class="footer-txt">
                            {{ result.rbairro }} - {{ result.rcidade }} / {{ result.duf }}<strong> {{ result.dcep }} </strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="footer-info">Entrega no vizinho: <strong> IF IF NÃO AUTORIZADA</strong></p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
{% endblock %}
