<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETIQUETA</title>

<!--bootstrap-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--font-google-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap" rel="stylesheet">


</head>
<body>
    
<table id="tag">
    <tr>
        <td>

            <table class="header">
                <tr>
                    <td>
                        <p class="header-bold">USO EXCLUSIVO DA TRANSPORTADORA</p>
                        <p class="header-slim">Cole aqui a etiqueta com o código identificador da encomenda</p>
                    </td>
                </tr>
            </table>
            <table class="header-info">
                <tr>
                    <td>
                        <p class="header-txt">RECEBEDOR:</p>
                    </td>
                    <td>
                        <p class="header-txt">DOC:</p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>
            
            <table class="content">
                <tr>
                    <td>
                        <p class="content-title">&nbsp;&nbsp;DESTINATÁRIO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="content-txt"><strong>
                             result.des_nome 
                        </strong></p>
                        <p class="content-txt">
                             result.des_endereco  -  result.des_num 
                        </p>
                        <p class="content-txt">
                             result.des_complemento 
                        </p>
                        <p class="content-txt">
                             result.des_bairro  -  result.des_cidade  /  result.des_estado 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="content-cont">
                            <tr>
                                <td class="content-columm1">
                                    <p class="content-cep">
                                         result.des_cep 
                                    </p>
                                </td>
                                <td class="content-columm2">
                                    <p class="content-code">
                                         result.des_cep 
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td>

            <table class="footer">
                <tr>
                    <td>
                        <table class="footer-header">
                            <tr>
                                <td class="footer-columm1">
                                    <p class="footer-title">REMETENTE</p>
                                </td>
                                <td class="footer-columm2">
                                    <p class="footer-name">
                                         result.rem_nome 
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="footer-txt">
                             result.des_cep  -  result.des_cep 
                        </p>
                        <p class="footer-txt">
                             result.des_cep 
                        </p>
                        <p class="footer-txt">
                             result.des_cep  -  result.des_cep  /  result.des_cep  <strong> result.des_cep </strong>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="footer-info">Entrega no vizinho: <strong> IF IF NÃO AUTORIZADA</strong></p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>


</body>
</html>